# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Plugin-specific files
.idea_modules/

# JetBrains Fleet
.fleet/

# Gradle
.gradle
build/
#!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Maven
target/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Node.js
node_modules/
dist/

# Java
*.class
#*.jar
*.war
*.ear

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode (in case other devs use it)
.vscode/

# Test coverage / reports
coverage/
reports/